  <div id="page-loader">
    <div class="loader-logo"><img src="assets/images/logo.png" alt="Vistech" style="height: 56px;"></div>
    <div class="loader-bar"><span></span></div>
  </div>

  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Vistech - Shree Om Steel" class="site-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav ms-auto align-items-lg-center">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
            <li class="nav-item dropdown dropdown-mega">
              <a class="nav-link" href="products.html">Products</a>
              <div class="mega-menu">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3 mega-col"><h6>Collections</h6>
                      <a href="products.html?collection=Kiva">Kiva Series (KV)</a>
                      <a href="products.html?collection=Rella">Rella Series (RE)</a>
                      <a href="products.html?collection=Bruna">Bruna Series (BR)</a>
                      <a href="products.html?collection=Canata">Canata Series (CA)</a>
                    </div>
                    <div class="col-md-3 mega-col"><h6>More</h6>
                      <a href="products.html?collection=Vistech">Vistech Series (500)</a>
                      <a href="products.html?collection=Kitchen">Kitchen Cutlery</a>
                      <a href="products.html?category=Soap Dish">Soap Dishes</a>
                      <a href="products.html?category=Towel Rod">Towel Rods &amp; Racks</a>
                    </div>
                    <div class="col-md-3 mega-col"><h6>Quick Links</h6>
                      <a href="catalogue.html">Download Catalogue</a>
                      <a href="gallery.html">Gallery</a>
                      <a href="contact.html">Get Quote</a>
                    </div>
                    <div class="col-md-3 mega-col"><h6>Featured</h6>
                      <a href="product-details.html?id=1">KV-101 Napkin Holder</a>
                      <a href="product-details.html?id=42">505 Three In One</a>
                      <a href="products.html">View All 65+ Products</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="catalogue.html">Catalogue</a></li>
            <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
